{% extends "base.html" %}

{% block title %}
    /ascii/ art
{% endblock title %}

{% block body %}
    <h2 class="text-center">/ascii/ art</h2>
    <div class="row">
        <div class="col-xs-7">
            <form class="well" method="post">
                <div class="form-group">
                    <label class="control-label" for="title">title</label>
                    <input type="text" class="form-control" name="title"
                           placeholder="Title for the /ascii/ art"
                           value="{{ title }}" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="art">/ascii/ art</label>
                    <textarea class="form-control" name="art"
                              style="height: 200px; width: 100%; font-family: monospace;"
                              placeholder="Paste/create your /ascii/ art here"
                              required>{{ art }}</textarea>
                </div>
                <div class="has-error">
                    <span class="help-block">{{ errormsg }}</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit Art</button>
                </div>
            </form>
        </div>
        <div class="col-xs-5">
            {% if img_url %}
                <img src="{{ img_url }}">
            {% endif %}
            </div>
        </div>
    <hr>
    <h2 class="text-center">recently submitted /ascii/ arts</h2>
    {% if not art_list %}
        <p>There isn't any art to show. Why not submit one?</p>
    {% else %}
        {% for item in art_list %}
            <div class="blog-post">
                <div class="blog-post-title">{{ item.title }}</div>
                <pre>{{ item.art }}</pre>
            </div>
        {% endfor %}
    {% endif %}
{% endblock body %}
